# Python
__pycache__/
*.pyc

# Environments / editors
.vscode/
.idea/

# Results (generated)
# Track the results/ folder and its contents
!results/
*.npy
# Allow .npy files inside results/
!results/*.npy

# Notebooks (optional)
.ipynb_checkpoints/
